body {
	background: lightgrey;
}

.accordion {
	width: 100%;
	height: 50px;
	background: lightblue;
	border-width: 0;
	text-align: left;
	padding-left: 15px;
}

.active, .accordion:hover {
	background: blue;
}

.panel {
	display: none;
}