.btn {
	float: left;
	width: 25%;
	height: 50px;
	margin: 0px;
	outline: none;
	padding: 0px;
	border: none;
	background: lightgray;
	color: black;
}

.btn:hover {
	background: gray;
}



.select.London, #London {
	background: red;
}

.select.Paris, #Paris {
	background: green;
}

.select.Tokyo, #Tokyo {
	background: blue
}

.select.Oslo, #Oslo {
	background: orange;
}

.select {
	color: white;
}

.city {
	display: none;
	padding: 50px;
	text-align: center;
	color: white;
}

.active {
	display: block;
}